@model SMPWebservice.Models.SearchResponse
           
<table class="common-tbl cat" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
        
            <th class="col1" colspan=2>
             <a href="" id="resultText"></a>
            </th>
        
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Contents.Length;i++ )
        {
            var content = Model.Contents[i];

            var json = @Html.Raw(Json.Encode(content));
            if (i < 10)
            {       
            <tr>
                <td>
                    <img src="@content.ImagePath.Replace("www-stg", "www")" alt="" width="150px" />
                </td>
                <td class="col1">
                    <div>
                        <h4>
                            <a href="#" title="Content ID" onclick='ShowDetail(@json)'>@content.Id</a>
                        </h4>
                        <p class="desc" >
                            @content.Desc
                        </p>
                    </div>
                </td>
              
            </tr>
            }
        }
    </tbody>
</table>
@Html.Partial("Pager");
        <div class="clear">
        </div>
<script type="text/javascript">
    $(function () {
    
        $(".desc").text(function (index, currentText) {
            return currentText.substr(0, 400) + '...';
        });        
        var el = $('li[name=li'+@Model.CurrentPosition +']');
        $(".page.active").removeClass('active');
         $(el).addClass('page active');
    
        var term=$('#searchterm').val();   
        $('#resultText').html('Search Result for "'+term+ '" : '+@Model.TotalRecords);
    });

    function ShowDetail(content) {
            
            swal({
                title: content.Title,
                text: content.Desc, 
                imageUrl: content.ImagePath.replace('www-stg','www'),
                by:content.DonorName,
                view:content.ViewCount
            });
    }
</script>