@model SMPWebservice.Models.SearchResponse

@{var searchResponse = Model;}
@if (Model == null)
{
    searchResponse = new SMPWebservice.Models.SearchResponse();
}
else {
    searchResponse = Model;
}

    <style>
        h4 
        {
            cursor: pointer;
        }
        
    </style>
    <div class="right-col-fade-top">
        <div class="module-nav-container">
            <div class="module-nav nav-base" style="border-radius:15px;">
                <h2 style="margin-bottom:10px;border-top-left-radius:15px;border-top-right-radius:15px">
                    Festival Category</h2>               
              
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Name')">Name @(searchResponse.Statistics["Name"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Name"] + "</span>") : Html.Raw(""))</h4>
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Function')">Function  @(searchResponse.Statistics["Function"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Function"] + "</span>") : Html.Raw(""))</h4>
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Significance')">Significance  @(searchResponse.Statistics["Significance"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Significance"] + "</span>") : Html.Raw(""))</h4>
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Experience/memory')">Experience/memory  @(searchResponse.Statistics["Experience/memory"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Experience/memory"] + "</span>") : Html.Raw(""))</h4>   
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Origin')">Origin  @(searchResponse.Statistics["Origin"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Origin"] + "</span>") : Html.Raw(""))</h4>   
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Date')">Date  @(searchResponse.Statistics["Date"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Date"] + "</span>") : Html.Raw(""))</h4>   
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Associated people group')">Associated people group  @(searchResponse.Statistics["Associated people group"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Associated people group"] + "</span>") : Html.Raw(""))</h4>   
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Associated activity/event')">Associated activity/event  @(searchResponse.Statistics["Associated activity/event"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Associated activity/event"] + "</span>") : Html.Raw(""))</h4>   
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Program item')">Program item  @(searchResponse.Statistics["Program item"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Program item"] + "</span>") : Html.Raw(""))</h4>   
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Related festival')">Related festival  @(searchResponse.Statistics["Related festival"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Related festival"] + "</span>") : Html.Raw(""))</h4> 
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Interesting fact')">Interesting fact @(searchResponse.Statistics["Interesting fact"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Interesting fact"] + "</span>") : Html.Raw(""))</h4> 
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Timeline')">Timeline@(searchResponse.Statistics["Timeline"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Timeline"] + "</span>") : Html.Raw(""))</h4> 
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Cultural attribute')">Cultural attribute @(searchResponse.Statistics["Cultural attribute"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Cultural attribute"] + "</span>") : Html.Raw(""))</h4> 
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Location')">Location @(searchResponse.Statistics["Location"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Location"] + "</span>") : Html.Raw(""))</h4>
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Wish')">Wish @(searchResponse.Statistics["Wish"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Wish"] + "</span>") : Html.Raw(""))</h4> 
               <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('KeyPhrase')">KeyPhrase @(searchResponse.Statistics["KeyPhrase"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["KeyPhrase"] + "</span>") : Html.Raw(""))</h4> 
            </div>
        </div>
  
        <div class="clear">
        </div>
       
    </div>



