@model SMPWebservice.Models.SearchResponse

@{var searchResponse = Model;}
@if (Model == null)
{
    searchResponse = new SMPWebservice.Models.SearchResponse();
}
else {
    searchResponse = Model;
}


    <div class="right-col-fade-top">
        <div class="module-nav-container">
            <div class="module-nav nav-base">
                <h2 style="margin-bottom:10px">
                    Festival Category</h2>               
                <h4 style="margin:0px 10px;color:darkgoldenrod">Name</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Current name')">Current name @(searchResponse.Statistics["Current name"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Current name"] + "</span>") : Html.Raw(""))</a></li>
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Alternative name')">Alternative name @(searchResponse.Statistics["Alternative name"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Alternative name"] + "</span>") : Html.Raw(""))</a></li>                   
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Function</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Definition')">Definition @(searchResponse.Statistics["Definition"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Definition"] + "</span>") : Html.Raw(""))</a> </li>                                      
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Significance</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Cultural Significance')">Cultural Significance @(searchResponse.Statistics["Cultural Significance"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Cultural Significance"] + "</span>") : Html.Raw(""))</a> </li>                                      
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Social significance [in people’s lives]')">Social significance [in people’s lives] @(searchResponse.Statistics["Social significance [in people’s lives]"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Social significance [in people’s lives]"] + "</span>") : Html.Raw(""))</a> </li>
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Experience/Memory</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Experience/memory')">Experience/memory @(searchResponse.Statistics["Experience/memory"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Experience/memory"] + "</span>") : Html.Raw(""))</a> </li>                                                          
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Origin</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Origin story')">Origin story @(searchResponse.Statistics["Origin story"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Origin story"] + "</span>") : Html.Raw(""))</a> </li>                                                          
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Date</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Typical date')">Typical date @(searchResponse.Statistics["Typical date"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Typical date"] + "</span>") : Html.Raw(""))</a> </li>                                                          
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Frequency')">Frequency @(searchResponse.Statistics["Frequency"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Frequency"] + "</span>") : Html.Raw(""))</a> </li>                                                          
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Associated People Group</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Associated people group')">Associated people group @(searchResponse.Statistics["Associated people group"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Associated people group"] + "</span>") : Html.Raw(""))</a> </li>                                                                                                                                    
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Associated Activity/Event</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Associated activity/event')">Associated activity/event @(searchResponse.Statistics["Associated activity/event"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Associated activity/event"] + "</span>") : Html.Raw(""))</a> </li>                                                                                                                                    
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Program Item</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Program item')">Program item @(searchResponse.Statistics["Program item"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Program item"] + "</span>") : Html.Raw(""))</a> </li>                                                                                                                                    
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Related Festival</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Related festival')">Related festival @(searchResponse.Statistics["Related festival"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Related festival"] + "</span>") : Html.Raw(""))</a> </li>                                                                                                                                    
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Interesting Fact</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Interesting fact')">Interesting fact @(searchResponse.Statistics["Interesting fact"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Interesting fact"] + "</span>") : Html.Raw(""))</a> </li>                                                                                                                                    
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Timeline</h4>
                <ul class="">
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Date of origin')">Date of origin @(searchResponse.Statistics["Date of origin"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Date of origin"] + "</span>") : Html.Raw(""))</a> </li>
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Date of termination')">Date of termination @(searchResponse.Statistics["Date of termination"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Date of termination"] + "</span>") : Html.Raw(""))</a> </li>      
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Date-significant feature')">Date-significant feature @(searchResponse.Statistics["Date-significant feature"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Date-significant feature"] + "</span>") : Html.Raw(""))</a> </li>
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Development over time')">Development over time @(searchResponse.Statistics["Development over time"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Development over time"] + "</span>") : Html.Raw(""))</a> </li>
                    <li><a style="padding:1px 20px" href="#" onclick="searchByCategory('Date-particular celebration')">Date-particular celebration @(searchResponse.Statistics["Date-particular celebration"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Date-particular celebration"] + "</span>") : Html.Raw(""))</a> </li>                 
                </ul>
                <h4 style="margin:0px 10px;color:darkgoldenrod">Cultural Attribute</h4>
                 <ul class="">
                    <li><a style="padding:1px 20px" onclick="searchByCategory('Associated belief')">Associated belief @(searchResponse.Statistics["Current name"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Current name"] + "</span>") : Html.Raw(""))</a> </li>
                    <li><a style="padding:1px 20px" onclick="searchByCategory('Associated food')">Associated food @(searchResponse.Statistics["Current name"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Current name"] + "</span>") : Html.Raw(""))</a> </li>      
                    <li><a style="padding:1px 20px" onclick="searchByCategory('Associated attire')">Associated attire @(searchResponse.Statistics["Current name"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Current name"] + "</span>") : Html.Raw(""))</a> </li>
                    <li><a style="padding:1px 20px" onclick="searchByCategory('Associated object')">Associated object @(searchResponse.Statistics["Current name"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Current name"] + "</span>") : Html.Raw(""))</a> </li>
                    <li><a style="padding:1px 20px" onclick="searchByCategory('Nationalistic/cultural element')">Nationalistic/cultural element @(searchResponse.Statistics["Current name"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Current name"] + "</span>") : Html.Raw(""))</a> </li>                 
                </ul>

            </div>
        </div>
  
        <div class="clear">
        </div>
       
    </div>



