@model SMPWebservice.Models.SearchResponse

@{var searchResponse = Model;}
@if (Model == null)
{
    searchResponse = new SMPWebservice.Models.SearchResponse();
}
else {
    searchResponse = Model;
}


    <div class="right-col-fade-top">
        <div class="module-nav-container">
            <div class="module-nav nav-base" style="border-radius:15px;">
                <h2 style="margin-bottom:10px;border-top-left-radius:15px;border-top-right-radius:15px">
                    Festival Category</h2>               
                
                <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Cultural Attribute')">Cultural Attribute  @(searchResponse.Statistics["Cultural Attribute"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Cultural Attribute"] + "</span>") : Html.Raw(""))</h4>
                <h4 style="margin:10px  20px;color:darkgoldenrod" onclick="searchByCategory('Date')">Date  @(searchResponse.Statistics["Date"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Date"] + "</span>") : Html.Raw(""))</h4>
                <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Definition')">Definition  @(searchResponse.Statistics["Definition"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Definition"] + "</span>") : Html.Raw(""))</h4>
                <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Experience/Memory')">Experience/Memory  @(searchResponse.Statistics["Experience/Memory"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Experience/Memory"] + "</span>") : Html.Raw(""))</h4>
                <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Frequency')">Frequency  @(searchResponse.Statistics["Frequency"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Frequency"] + "</span>") : Html.Raw(""))</h4>
                <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Interesting Fact')">Interesting Fact  @(searchResponse.Statistics["Interesting Fact"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Interesting Fact"] + "</span>") : Html.Raw(""))</h4>
                <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Location')">Location  @(searchResponse.Statistics["Location"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Location"] + "</span>") : Html.Raw(""))</h4>                
                <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Name')">Name  @(searchResponse.Statistics["Name"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Name"] + "</span>") : Html.Raw(""))</h4>
                <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Significance')">Significance  @(searchResponse.Statistics["Significance"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Significance"] + "</span>") : Html.Raw(""))</h4>
                <h4 style="margin:10px 20px;color:darkgoldenrod" onclick="searchByCategory('Timeline')">Timeline  @(searchResponse.Statistics["Timeline"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Timeline"] + "</span>") : Html.Raw(""))</h4>
                <h4 style="margin:10px 20px 20px 20px; padding-bottom:20px; color:darkgoldenrod" onclick="searchByCategory('Wish')">Wish  @(searchResponse.Statistics["Wish"] > 0 ? Html.Raw("<span class='badge'>" + searchResponse.Statistics["Wish"] + "</span>") : Html.Raw(""))</h4>

            </div>
        </div>
  
        <div class="clear">
        </div>
       
    </div>



